
.codeFiddle{
    height:99%;
    font-family:arial;
    overflow:hidden;
    position:relative;
    box-sizing:border-box;
    border:1px solid #D9D9D9;    
}
.cf-view{
    border:none;
    border-left:1px solid #D9D9D9;
    width:60%;
    float:right;
    height:100%;
}
.cf-editors{
    width:40%;
    height:100%;
}
.cf-editors > div{
    position:relative;
    cursor:text;
    height:33%;
      border-top: 1px solid #D9D9D9;
}
.cf-editors > textarea{
    height:100%;
}
.cf-editors > div:after, .cf-run{
    position:absolute;
    top:0;
    right:0;
    font-size:9px;
    background:#eee;
    border-radius:0 0 0 5px;
    padding:2px 2px 2px 3px;
    z-index:99;
    max-width:100%;
    transition:all 250ms ease-in;
    overflow:hidden;
    box-sizing:border-box;
    border:none;
}
.cf-run:active, .cf-run:focus{
    outline:none;
}
.cf-run:hover{
    cursor:pointer;
    background:black;
    color:white;
}
.cf-css:after{
    content:'CSS';
}
.cf-js:after{
    content:'Javascript';
}
.cf-html:after{
    content:'HTML';
}
.cf-editors  .CodeMirror{
  border-right:none;
  height: 100%;  
  box-sizing:border-box;
  border:none;

}
.cf-editors  > div.cf-html{
   border-top: none;
}
