html,body{
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}
.codeFiddle{
    height:300px;
    font-family:arial;
    overflow:hidden;
    position:relative;
}
.cf-view{
    border:1px solid #eee;
    width:60%;
    float:right;
    box-sizing:border-box;
    height:100%;
}
.codeFiddle > .cf-editors{
    float:left;
    width:40%;
}
.codeFiddle > .cf-editors > div{
    position:relative;
    cursor:text;
}
.codeFiddle > .cf-editors > div:after, .cf-run{
    position:absolute;
    top:0;
    right:0;
    font-size:9px;
    background:#eee;
    border-radius:0 0 0 5px;
    padding:2px 2px 2px 3px;
    max-width:100%;
    transition:all 250ms ease-in;
    overflow:hidden;
    box-sizing:border-box;
    border:none;
}
.cf-run:active, .cf-run:focus{
    outline:none;
}
.cf-run:hover{
    cursor:pointer;
    background:black;
    color:white;
}
.cf-css:after{
    content:'CSS';
}
.cf-js:after{
    content:'Javascript';
}
.cf-html:after{
    content:'HTML';
}
.codeFiddle > .cf-editors  .CodeMirror{
  border: 1px solid #eee;
  border-right:none;
  height: 100px;  
  box-sizing:border-box;
}
.codeFiddle > .cf-editors  div:nth-of-type(even) .CodeMirror{
    border-top:none;border-bottom:none;
}